.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.news-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.news-list .new{
    padding: 10px;
    border: 1px solid;
}
.news-list .new .title{

}
.news-list .new .text{

}